//Login
#loginLayout{
-fx-background-position: center;
-fx-background-image: url(back.jpg);
-fx-background-size:100%;
}
#loginLayout TextField,
#loginLayout PasswordField{
    -fx-background-radius:10px;
}

//login
#login{
    -fx-border-width:10px;
    -fx-border-color:#c5b358;
    -fx-background-color:transparent;
}
//MainMenu
#slideRight{
    -fx-background-color:#333;
}
#slideRight Button{
    -fx-background-radius:50px;
}

#statistic{
    -fx-background-color:rgba(0,255,204,0.4);
}
#statistic TextField{
    -fx-text-fill:red;
}

#Meals{
-fx-background-position: center;
-fx-background-image: url(MealsBack.jpg);
-fx-background-size:100%;
}
#Drinks{
-fx-background-position: center;
-fx-background-image: url(DrinksBack.jpg);
-fx-background-size:100%;
}